<main class="w-full max-w-[30rem] flex flex-col bg-white p-12 mx-8 mt-10 gap-2 shadow-lg rounded">
  <h2 class="text-blue-600 text-4xl text-center font-bold tracking-tighter pb-6">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field pb-4">
      <%= f.label :email, class: "font-semibold"  %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-sky-50 rounded" %>
    </div>

    <div class="field pb-4">
      <%= f.label :password, class: "font-semibold"  %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full bg-sky-50 rounded" %>
    </div>

    <div class="field pb-4">
      <%= f.label :password_confirmation, class: "font-semibold"  %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full bg-sky-50 rounded" %>
    </div>

    <div class="actions bg-blue-600 text-white hover:text-gray-300 text-center font-semibold p-2 rounded cursor-pointer">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
    <p class="text-sm font-bold pt-2">Already a member?</p>

  <%= render "devise/shared/links" %>
</main>
