<%= form_with(model: entry, class: "contents") do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <main class="w-full flex flex-col gap-4">
    <div class="w-full flex flex-col gap-1">
      <h1>
        <%= form.label :category, class: "font-semibold" %>
      </h1>
      <span>
      <%= form.select :category, options_for_select(["Work", "Personal", "Health", "Finance", "Hobbies", "Goals", "Notes", "Reminders"]), {}, class: "w-full rounded border-none shadow" %>
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <h1>
      <%= form.label :title, class: "font-semibold" %>
      </h1>
      <span>
      <%= form.text_field :title, class: "w-full rounded border-none shadow" %>
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <h1>
      <%= form.label :start_time, class: "font-semibold" %>
      </h1>
      <span>
      <%= form.datetime_field :start_time, class: "w-full rounded border-none shadow" %>
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <h1>
      <%= form.label :end_time, class: "font-semibold" %>
      </h1>
      <span>
      <%= form.datetime_field :end_time, class: "w-full rounded border-none shadow"  %>
      </span>
    </div>

    <div>
      <%= form.label :description, class: "font-semibold" %>
      <%= form.text_area :description, rows: 4.5, class: "w-full text-justify rounded border-none shadow" %>
    </div>

    <div class="flex justify-center mt-4">
      <%= form.submit class: "bg-green-500 font-semibold text-white p-2 rounded cursor-pointer" %>
    </div>
  </main>
<% end %>
