<div class="flex flex-col mx-auto md:w-2/3 gap-4 p-8">
  <section class="flex justify-between">
      <div class="text-2xl text-gray-500 hover:text-gray-800">
        <%= link_to @entry do %>
            <%= fa_icon "arrow-left"%>
        <% end %>
      </div>
      <div class="flex text-xl gap-2">
        <span class="text-gray-500 hover:text-blue-600">
            <%= link_to entries_path do %>
                <%= fa_icon "home"%>
            <% end %>
        </span>
      </div>
  </section>
  <%= render "form", entry: @entry %>
</div>
