<main class="w-full max-w-[30rem] flex flex-col bg-white p-12 mx-8 mt-10 gap-2 shadow-lg rounded">
  <h2 class="text-blue-600 text-4xl text-center font-bold tracking-tighter pb-6">Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field pb-4">
      <%= f.label :email, class: "font-semibold"  %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-sky-50 rounded"  %>
    </div>

    <div class="actions bg-blue-600 text-white hover:text-gray-300 text-center font-semibold p-2 mb-2 rounded cursor-pointer">
      <%= f.submit "Reset" %>
    </div>
  <% end %>
  <p class="text-center text-sm font-bold pb-2">Remember your password?</p>

  <%= render "devise/shared/links" %>
</main>
