<div class="simple-calendar">
  <div class="calendar-heading flex justify-center">
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>

    <nav class="flex justify-center">
        <div><%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %></div>
        <div><%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view %></div>
        <div><%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %></div>
    </nav>

  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<nav class="flex justify-between items-center px-4">
      <div class="text-xl text-gray-500 hover:text-gray-800">
        <%= link_to calendar.url_for_previous_view do %>
          <%= fa_icon "chevron-circle-left"%>
        <% end %>
      </div>
      <div>
        <%= link_to calendar.url_for_today_view do %>
          <p class="font-bold text-xs text-white bg-gray-400 px-2 hover:bg-gray-800 rounded">TODAY</p>
        <% end %>
      </div>
      <div class="text-xl text-gray-500 hover:text-gray-800">
        <%= link_to calendar.url_for_next_view do %>
          <%= fa_icon "chevron-circle-right"%>
        <% end %>
      </div>
    </nav>