<div class="simple-calendar">
  <div class="calendar-heading">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title">
    <h1 class="text-center text-2xl font-semibold tracking-tighter">
      <span>
        <%= t('date.month_names')[start_date.month] %>
      </span>
      <span>
        <%= start_date.year %>
      </span>
    </h1>
    </time>

    <nav class="flex justify-between items-center px-4">
      <div class="text-xl text-gray-500 hover:text-gray-800">
        <%= link_to calendar.url_for_previous_view do %>
          <%= fa_icon "chevron-circle-left"%>
        <% end %>
      </div>
      <div>
        <%= link_to calendar.url_for_today_view do %>
          <p class="font-bold text-xs text-white bg-gray-400 px-2 hover:bg-gray-800 rounded">TODAY</p>
        <% end %>
      </div>
      <div class="text-xl text-gray-500 hover:text-gray-800">
        <%= link_to calendar.url_for_next_view do %>
          <%= fa_icon "chevron-circle-right"%>
        <% end %>
      </div>
    </nav>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="p-2"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <div class="flex justify-center items-center">
                <%= link_to entries_path(date: day.strftime("%Y-%m-%d")), class: "p-2 #{'bg-blue-400 font-bold text-white rounded' if day == @selected_date}" do %>
                  <%= day.strftime("%d") %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
