<main class="w-full max-w-[30rem] flex flex-col bg-white p-12 mx-8 mt-10 gap-2 shadow-lg rounded">
  <h2 class="text-blue-600 text-4xl text-center font-bold tracking-tighter pb-6">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field pb-4">
      <%= f.label :email, class: "font-semibold" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-sky-50 rounded" %>
    </div>

    <div class="field pb-4">
      <%= f.label :password, class: "font-semibold" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full bg-sky-50 rounded" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center field pb-4 text-gray-600 text-sm font-bold">
        <%= f.check_box :remember_me, class: "rounded mr-2" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions bg-blue-600 text-white hover:text-gray-300 text-center font-semibold p-2 rounded cursor-pointer">
      <%= f.submit "Log in", class: "cursor-pointer" %>
    </div>
  <% end %>
    <p class="text-sm font-bold pt-2">Not yet a member?</p>
  </div>
  <%= render "devise/shared/links" %>
</main>
